@import "~src/scss/variables";

mat-sidenav-container {
  height: 100%;

  mat-sidenav-content {
    height: 100%;

    mat-toolbar {

      section {

        .navigation-items {

          list-style: none;
          padding: 0;
          margin: 0;

            a {
              color: $white-color;
              text-decoration: none;
            }

            a:hover
            a:active {
              color: $white-color;
            }
        }

      }

    }
  }

  mat-sidenav {
    height: 100%;
  }
}
