@import "~src/scss/variables";

mat-toolbar {

  section {

    .navigation-items {

      list-style: none;
      padding: 0;
      margin: 0;

      a {
        color: $white-color;
        text-decoration: none;
      }

      a:hover
      a:active {
        color: $white-color;
      }
    }

  }

}
