<section>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">home</mat-icon>
        Home
      </ng-template>

      <section gdColumns.xs="auto" gdColumns.gt-xs="auto 320px" gdColumns.gt-lg="auto 360px">
        <section class="timeline-content-wrapper" gdColumns.gt-lg="auto auto auto" gdColumns.gt-md="auto auto"
                 gdColumns.xs="auto" gdGap="1rem">
          <div *ngFor="let post of posts">
            <mat-card>
              <mat-card-header>
                <div class="example-header-image" mat-card-avatar></div>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>{{post.source}}</mat-card-subtitle>
              </mat-card-header>
              <!--<img mat-card-image src="{{post.content}}">-->
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
              <mat-card-content>
                <p>
                  {{post.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button color="accent" mat-icon-button>
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button color="accent" mat-icon-button>
                  <mat-icon>bookmarks</mat-icon>
                </button>
                <button color="accent" mat-icon-button>
                  <mat-icon>add_comment</mat-icon>
                </button>
                <div fxFlex></div>
                <button color="primary" mat-icon-button>
                  <mat-icon>share</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </section>
        <section class="current-tags-wrapper" fxhide fxShow.gt-sm>
          <mat-card>
            <mat-card-title>Current Tags</mat-card-title>
            <mat-card-content>
              <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </section>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">trending_up</mat-icon>
        Trending
      </ng-template>
      Content 2
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">whatshot</mat-icon>
        Fresh
      </ng-template>

      Content 3
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">school</mat-icon>
        Editor Picks
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</section>
